<!--The content below is only a placeholder and can be replaced.-->
<div>
  <ul>
    <li>
      <a  routerLink="/home" > A Propos d'ImmoCam </a>
      |<a  routerLink="/realties" >Publications des biens immobiliers </a>
          &nbsp; &nbsp; | &nbsp; &nbsp;
          <a routerLink="/add-realty"> Ajouter un bien immobilier</a>
    </li>
    <li > <a routerLink="/signup">Créer un compte utilisateur </a>
      &nbsp; &nbsp; | &nbsp; &nbsp;
        <a routerLink="/signin"> Se connecter</a>
    </li>

  </ul>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>



<router-outlet></router-outlet>
